<div id="<%= dom_id event %>" class="event">
  <div class="attribute">
    <strong>Title:</strong>
    <%= event.title %>
  </div>

  <div class="attribute">
    <strong>Location:</strong>
    <%= event.location %>
  </div>

  <div class="attribute">
    <strong>Start Time:</strong>
    <%= format_time(event.start_time) %>
  </div>

  <% if event.end_time.present? %>
    <div class="attribute">
      <strong>End Time:</strong>
      <%= format_time(event.end_time) %>
    </div>
  <% end %>

  <% if event.url.present? %>
    <div class="attribute">
      <strong>URL:</strong>
      <%= format_url(event.url) %>
    </div>
  <% end %>

  <% if event.description.present? %>
    <div class="attribute">
      <strong>Description:</strong>
      <%= event.description %>
    </div>
  <% end %>

  <% if event.event_type.present? %>
    <div class="attribute">
      <strong>Type:</strong>
      <%= event.event_type %>
    </div>
  <% end %>

  <% if event.tags.present? %>
    <div class="attribute">
      <strong>Tags:</strong>
      <%= event.tags.to_sentence %>
    </div>
  <% end %>

  <div class="attribute">
    <strong>Cost:</strong>
    <%= format_cost(event.cost) %>
  </div>
</div>
